---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Join the server', href: 'https://discord.gg/9yPVMVDwgV', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features2' }}
  >
    <Fragment slot="title">
      The Cyber
      <span class="text-accent dark:text-white highlight"> Cooperative</span> </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">The Cyber Cooperative</span> is THE place to level-up in your cybersecurity game.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">The Cyber Cooperative:</span> Join over 1000 cybersecurity professionals, students, and enthusiasts today to level-up in your cybersecurity journey.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->
  <!-- Content Widget **************** -->
  <!-- Features2 Widget ************** -->

  <Features2 id="#features2"
    highlight="About Us"
    title="What we've got going on:"
    subtitle="We've got a lot going on here at the Cyber Cooperative. All good things, we swear."
    items={[
      {
         title: 'CTF',
          description:
            'Amazing CTF challenges provided weekly, written by the amazing team at CTFd.io',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Events',
          description:
            'Educational events with cybersecurity experts and speakers who share their knowledge on a wide range of topics, from general career advice Q&A to in-depth OSINT tutorials',
        icon: 'flat-color-icons:gallery',
      },
      {
         title: 'Rewards',
          description:
            'Use points from CTF challenge and community involvement to earn real-life prizes and rewards',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Community',
          description:
            'A community of over 1000 cybersecurity experts, professionals, and students to connect with',
        icon: 'tabler:rocket',
      },
      {
         title: 'Minecraft',
          description:
            'A dedicated Minecraft server where you can learn the basics of different cybersecurity concepts in-game and build out a world with friends at the same time',
        icon: 'flat-color-icons:advertising',
      },
      {
         title: 'A place to be',
          description:
            'Above all else, since it’s a Discord server, it’s just a place to be if you feel like being somewhere - feel free to just chat casually, we’re just chillin ya know?',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Check out our educational blog:"
    information={`This blog covers a wide variety of cybersecurity topics, written by experts.
                `}
    postIds={[
      'cybersecuritytopic1',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Questions most commonly asked"
    highlight="FAQs"
    items={[
      [
        {
          question: 'How do I join?',
          answer:
            'Either click our direct link here or enter the tail end into your Discord client like so: (image of putting it into Discord client)',
        },
        {
          question: 'Who is in charge of this?',
          answer:
            "Currently, the Cyber Cooperative is sponsored by Tenable, but as we grow as a community we are open to having other organizations and individuals to join our team as well to help the Cooperative be at its best 💪",
        },
        {
          question: "What's this about? What's the point of The Cyber Cooperative?",
          answer:
            "In short, the goal of The Cyber Cooperative is to help you progress in your knowledge of cybersecurity/your cybersecurity career. Whether you're a cybersecurity professional, a student, or just someone interested in learning more about cybersecurity - The Cyber Cooperative is a place for you to connect with others in a supportive space for learning, networking, and advancing your knowledge in the cybersecurity field with others who share your passion for cybersecurity. What we aim to provide alongside that is a variety of educational content and resources, events, and games to help you grow in your skills - such as talks from cybersecurity experts and Capture the Flag competitions and workshops.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Members', value: '1.2K' },
      { name: 'Members Online', value: '600' },
      { name: 'CTF challenge week count', value: '12' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Join the Cyber Cooperative',
      href: 'https://discord.gg/9yPVMVDwgV',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Join us today! <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
     Don't wait! Join us now to see what we've got going on:
    </Fragment>
  </CallToAction>
</Layout>
